<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Portfolio Andres Tello </title>
    </head>

    <body>
        <h1> Andres Tello</h1>
        <h2> Portfolio </h2>

        <nav>
            <a href="#Inicio"> Inicio </a> |
            <a href="#"> Sobre Mi </a> |
            <a href="#"> Experiencia </a> |
            <a href="#"> Educación </a> |
            <a href="#"> Contacto y Perfiles </a>
        </nav>

        <hr>
        <h3 id="Inicio"> Inicio - Perfil Profesional</h3>
        <p> Estudiante de Ingeniería de Sistemas con un fuerte interés en el desarrollo de aplicaciones web y de escritorio. Busco aplicar mis conocimientos en tecnologías front-end y Python para crear soluciones innovadoras y eficientes. Apasionado por el aprendizaje continuo y las nuevas tecnologías. </p>
        <hr>
        <h3> Sobre Mi </h3>
        <p> Soy un estudiante dedicado y entusiasta de Ingeniería de Sistemas, con una pasión por el desarrollo de software y la tecnología. Me especializo en tecnologías front-end como HTML, CSS y JavaScript, y tengo experiencia en Python para desarrollo de aplicaciones de escritorio. Me considero una persona proactiva, con habilidades para trabajar en equipo y resolver problemas de manera creativa. Estoy siempre dispuesto a aprender nuevas tecnologías y mejorar mis habilidades técnicas. </p>
        <hr>
        <h3> Experiencia </h3>

    </body>

    </html>

<router-outlet />
